* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #585858;
  --linkedin-color: #0077b5;
  --primariy-linear-gradient: linear-gradient(
    90deg,
    rgba(223, 232, 232, 0.8671497584541062) 14%,
    rgba(178, 193, 212, 0.952054794520548) 89%
  );
  scroll-behavior: smooth;
}

@media (max-width: 1058px) {
  .main-nav .contact-links {
    display: none;
    /* visibility: hidden; */
  }

  .experience {
    h1 {
      /* word-break:break-all; */
      letter-spacing: 0.5rem;
    }
  }
}

@media (max-width: 450px) {
  header .top-nav {
    display: none;
  }
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
  }
}

@media (max-width: 768px) {

  .landing {
    flex-direction: column;
  }

  .landing .main-nav img {
    width: 100%;
    padding: 0 30%;
    margin-bottom: 3%;
  }

  .landing .main-nav .nav-link {
    display: none;
  }

  .landing .hero {
    width: 100%;
  }

    /* Adjusting the about section items */
    .about {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; 
        padding: 10px;
        margin: 0 auto; 
        gap: 0px;
    }

    /* Adjusting the size and centering of the SVG container */
    .svg-container {
        width: 100%; /* Take full width for centering purposes */
        max-width: 400px; /* Set a maximum width to prevent oversizing */
        height: auto; /* Maintain aspect ratio */
        margin: 10px auto; /* Center the container horizontally */
        margin-bottom: 0;
        display: flex; /* Use flex for centering contents */
        justify-content: center; /* Center contents horizontally */
        align-items: center; /* Center contents vertically */
    }

    /* Adjusting the SVG size */
    .svg-container svg {
        width: 100%; /* Full width of the container */
        max-width: 100%; /* Ensure it doesn't exceed container size */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Block display to prevent inline margin issues */
        margin: 0 auto; /* Center the SVG within the container */
    }

    /* Adjusting the LinkedIn icon size within the SVG */
    .linkedin-icon i {
        font-size: 40px; /* Adjust icon size */
    }

    .introduction {
        width: 90%; 
        max-width: 600px; 
        margin: 10px auto;
        margin-top: 0;
    }

    .introduction-para {
        font-size: 1rem; 
        line-height: 1.6; 
        padding-top: 10px; 
        padding-left: 10px; 
        padding-right: 10px; 
    }


    /* Adjusting the Work Experience Section */

    .experience {
      h1 {
        font-size: 1rem;
        text-align: center;
        font-weight: 300;
      }

      .experience-card {
        flex-direction: column;
      }

      .company-logo img {
        padding: 0 20% 10% 20%;
      }

      .company-experience {
        margin: 0;
        text-align: center;

        .company-tenure, .company-location {
          font-size: 0.8rem;
        }

        .company-name {
          font-weight: 700;
        }

        .position-name {
          font-size: 1rem;
        }

        .company-division {
          font-size: 0.9rem;
        }
      }
    }

    .skills {
      h1 {
        font-size: 1rem;
        text-align: center;
      }
    }

    .education {
      .education-header {
        font-size: 2rem;
        text-align: center;
        margin: 0;
      }
    }
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  position: fixed; /* Keep the header at the top of the viewport */
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.top-nav {
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--primariy-linear-gradient);

  a {
    text-decoration: none;
    color: #000;
  }
}

.top-nav.visible {
  opacity: 1; /* Show the header */
  visibility: visible; /* Make it visible */
}

.top-nav-logo {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  margin-left: 40px;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.top-nav-link {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0 15px;
}

/* SIDE NAV CSS */

.contact-links a {
  text-decoration: none;
  color: var(--primary-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: xx-large;
  padding-top: 7px;
}

/* .contact-links a:hover {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
} */

a .fa-envelope:hover {
  transform: translateY(-5px); /* Moves the icon up slightly */
  color: rgb(141, 35, 35);
}

a .fa-code:hover {
  transform: translateY(-5px); /* Moves the icon up slightly */
  color: yellow;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

a .fa-github:hover {
  transform: translateY(-5px); /* Moves the icon up slightly */
  color: #000;
  size: 20rem;
}

a .fa-linkedin:hover {
  transform: translateY(-5px); /* Moves the icon up slightly */
  color: var(--linkedin-color);
  size: 20rem;
}

.landing {
  max-width: 100vw;
  /* height: 93vh; */
  /* max-height: 700px; */
  /* border: 1px solid black; */
  padding: 5%;
  padding-bottom: 8%;
  gap: 3.5%;
  /* border-radius: 10px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;

  img {
    width: 100%;
  }
}

.contact-links {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.nav-logo {
  margin-bottom: 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);

  /* img { */

  padding: 1rem;
  /* } */

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  }
}

.nav-link {
  text-decoration: none;
  max-height: 50px;
  padding: 10px;
  color: var(--primary-color);
  /* line-height: 5rem; */
  width: 100%;
  text-align: center;
  &:hover {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  }
}

.hero {
  width: 80%;
  /* margin-right: 2rem;
    margin-left: 1rem; */
  /* height: 100%; */

  img {
    width: 100%;
    /* height: 90%; */
  }
}

/* START OF ABOUT SECTION CSS */

#about {
  display: flex;
}

/* Container for the scrolling text */
.scrolling-text-container {
  width: 100%; /* Full width of the container */
  overflow: hidden; /* Hide overflow to only show the scrolling text */
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  /* background-color: #f4f4f4; Background color for the container */
  padding: 10px 0; /* Vertical padding for spacing */
  margin-top: 3cqw;
}

/* The scrolling text itself */
.scrolling-text {
  display: inline-block; /* Keep the text in one line */
  animation: scroll-left-right 50s linear infinite; /* Apply continuous scrolling animation */
}

/* Scrolling animation */
@keyframes scroll-left-right {
  0% {
    transform: translateX(0); /* Start at the beginning */
  }
  100% {
    transform: translateX(-50%); /* Move to the left by 50% */
  }
}

/* START OF ABOUT SECTION */

/* Optional: Style the text inside the scrolling container */
.scrolling-text span {
  /* margin-top: 3rem; */
  font-size: 1em; /* Increase the font size */
  color: #333; /* Text color */
  font-weight: 300; /* Bold text */
  text-transform: lowercase; /* Uppercase text */
}

/* Container for the SVG and LinkedIn icon */
.svg-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;

  svg {
    width: 450px;
    height: 450px;
  }
}

/* Styling for the blob shape */
.blob-shape {
  transform: translate(50 50);
  stroke-width: 0;
  transition: opacity 0.3s ease;
}

.blob-image {
  height: 90%;
  width: 90%;
  transform: translate(0%, -4%);
}

/* LinkedIn icon styling */
.linkedin-icon {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Transition for the icon appearing */
}

.linkedin-icon i {
  font-size: 50px; /* Adjust the size of the Font Awesome icon */
  color: #0077b5; /* LinkedIn blue color */
}

/* Hover effects */
.svg-container:hover .blob-shape {
  opacity: 0.3; /* Lower the opacity of the SVG on hover */
}

.svg-container:hover .linkedin-icon {
  opacity: 1; /* Show the LinkedIn icon on hover */
}

.about {
  display: flex;
  gap: 25px;
  /* border: 0px solid black; */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  margin: 5%;
  padding: 5%;

  .introduction-para {
    padding-top: 20px;
  }
}

/* EXPERIENCE SECTION CSS */

.experience {
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
  margin: 5%;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
}

.experience-header {
  font-weight: 200;
  font-size: 3.5rem;
  overflow-wrap: normal;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
}

.experience-card {
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  margin: 10%;
  margin-bottom: 1%;
  margin-top: 2%;
  display: flex;
  padding: 5%;
  gap: 2%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.9);
  }
}

.experience-card.expanded {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
}

/* Smoother, consistent time transition for responsibilities */
.responsibilities {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out,
    padding 0.3s ease-in-out;
  padding-top: 0;
}

.experience-card.expanded .responsibilities {
  max-height: 1000px; /* Large enough to accommodate the content */
  opacity: 1;
  padding-top: 10px;
}

.responsibility {
  padding: 2px;
  margin-left: 20px;
  line-height: 1.5;
}

.company-tenure,
.company-location {
  color: var(--primary-color);
  font-weight: 300;
}

.position-name,
.company-name,
.company-division {
  font-weight: 400;
}

.company-logo img {
  margin-top: 2.8rem;
  width: 100%;
  max-width: 400px;
}

.coriolis-logo {
  padding-right: 20px;
  padding-bottom: 30px;
  /* margin-bottom: 25px; */
}

.company-experience {
  flex-grow: 1;
  margin-left: 3rem;
}

/* Start of SKILLS section CSS */

.skills {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);

  h1 {
    font-weight: 200;
    font-size: 3.5rem;
    overflow-wrap: normal;
    letter-spacing: 1rem;
    margin-bottom: 2rem;
    margin-left: 15px;
  }
}

.skill {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.skill-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    border 0.3s ease-in-out;
  width: 150px; /* Ensure consistent width */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.skill-item:hover {
  transform: scale(1.1); /* Enlarge the entire container on hover */
  border: 2px solid #0077b5; /* Example color for border on hover */
  box-shadow: 0 4px 15px rgba(0, 119, 181, 0.3); /* Box shadow on hover */
}

.skill-image {
  max-height: 100px; /* Adjusted for better spacing */
  max-width: 100px;
  transition: transform 0.3s ease-in-out;
}

.skill-text {
  margin-top: 10px; /* Add space between image and text */
  font-size: 1.2rem;
  color: #333;
  opacity: 0;
  position: relative;
  bottom: -10px; /* Initial position slightly below */
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.skill-item:hover .skill-text {
  opacity: 1; /* Make the text visible on hover */
  bottom: 0; /* Slide up to its final position */
}

.skill-item:hover .skill-image {
  transform: scale(1.1); /* Ensure the image scales smoothly */
}

/* START OF EDUCATION SECTION */

.education {
  padding: 5%;
  background: var(--primariy-linear-gradient);
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  padding-bottom: 10%;
  margin-bottom: 5%;
}

h1.education-header {
  font-weight: 200;
  font-size: 3.5rem;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
  margin-left: 15px;
  text-align: left;
  z-index: 10;
  position: relative;
}

.education-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  position: relative;
  padding-top: 80px;
  min-height: 650px;
  overflow: visible; /* Ensure the container adapts to the card height */
}

.education-card {
  width: 300px;
  height: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, opacity 0.5s ease, height 0.5s ease;
  opacity: 0.7;
  transform: scale(0.75); /* Inactive cards scaled down */
  border-radius: 8px;
  flex-shrink: 0;
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  text-align: center;
}

.education-card.active {
  transform: scale(1); /* Active card at full scale */
  opacity: 1;
  z-index: 2;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3); /* Make the shadow more pronounced */
}

.university-image {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
}

.university-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.university-information {
  text-align: center;
  flex-grow: 1;
}

.university-information h2,
.university-information h3,
.university-information h4 {
  margin: 5px 0;
  font-size: 1rem;
  overflow-wrap: break-word;
}

/* Shared styling for both active and inactive cards */
.education-card .university-name {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1rem;
}

.education-card .university-location {
  padding-top: 0.1rem;
  font-weight: 200;
  font-size: 0.5rem;
}

.education-card .university-batch {
  font-weight: 300;
  font-size: 0.7rem;
}

.education-card .program-name {
  font-weight: 400;
  font-size: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.education-card .coursework {
  font-size: 0.6rem;
}

.coursework-card ul {
  display: none;
  list-style-type: none;
  padding: 0;
}

.coursework-card.active ul {
  display: block;
  li {
    font-size: 0.6rem;
    color: var(--primary-color);
    text-align: left;
  }
}

.coursework {
  cursor: pointer;
  background: #0077b5;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background 0.3s ease;
  font-weight: 200;
}

.coursework:hover {
  background: #005c93;
}

.education-card {
  transition: transform 1s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
